---
import Layout from "../layouts/Layout.astro";
import ProfileCard from "../components/ProfileCard.jsx";
---

<Layout>
  <ol class="p-16">
    <li>
      <a class="text-2xl text-sky-400 underline" href="/profileCard"
        >Check out the profile card</a
      >
    </li>
    <li>
      <a class="text-2xl text-sky-400 underline" href="/addToBag"
        >Check out the add to bag</a
      >
    </li>
    <li>
      <a class="text-2xl text-sky-400 underline" href="/mobileNav"
      >Check out the mobile nav</a>
    </li>
    <li>
      <a class="text-2xl text-sky-400 underline" href="/contactUs"
        >Check out contact us</a>
    </li>
    <li>
      <a class="text-2xl text-sky-400 underline" href="/recipe"
        >Check out recipe</a
      >
    </li>
  </ol>
</Layout>
