<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/skux4life-favicon-color.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Frontend Challenges</title>
  </head>
  <body class="bg-nord-6">
    <h1 class="text-3xl text-center text-nord-0 my-4 hover:font-bold">
      <a href="/">Frontend Challenges</a>
    </h1>
    <slot />
  </body>
</html>
